/*$blue: #050f66;*/
/* line 9, sass/style.scss */
dt, th {
  color: black;
  font-weight: bold; }

/* line 14, sass/style.scss */
footer {
  color: #333333; }

/* line 18, sass/style.scss */
body {
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #a6a6a6));
  background-image: -webkit-linear-gradient(bottom, #333333, #a6a6a6);
  background-image: -moz-linear-gradient(bottom, #333333, #a6a6a6);
  background-image: -ms-linear-gradient(bottom, #333333, #a6a6a6);
  background-image: -o-linear-gradient(bottom, #333333, #a6a6a6);
  background-image: linear-gradient(bottom, #333333, #a6a6a6); }
