@import 'bourbon/bourbon';

/*$blue: #050f66;*/
$main: #333;

$main-lighter: lighten($main, 20%);
$background: lighten($main, 75%);
$section: darken($background, 20%);

dt, th, label {
  color: $main;
  font-weight: bold;
}

header {
	background-color: $main;
	color: $background;
	margin: 0;
	padding: 0;
}

footer {
	color: $main-lighter;
}

#main {
	width: 70%;
	margin: 10px;
	@include columns(2); 
	@include column-fill(balanced);
	@include column-gap(50px);
	@include column-rule(1px dotted $main-lighter);
}


section {
	border: 1px dashed $main-lighter;
	background: $section;
	margin-bottom: 20px;
	padding: 10px;
	dl {
		margin-left: 20px;
	}
	
	dd {
		color: $main;
	}
}

#attendance {
	-webkit-column-break-after: always;
	-moz-column-break-after: always;
}

.left {
	float: left;
	width: 500px;
	margin: 0;
	padding: 1em;
}

.right {
	margin-left: 640px;
	border-left: 1px dotted lighten($main, 40%);
}

body {
	background-color: $background;
}