@import 'bourbon/bourbon';

/*$blue: #050f66;*/
$main: #333;

$main-lighter: lighten($main, 20%);
$background: lighten($main, 75%);
$section: darken($background, 20%);

body {
	background-color: $background;
	font: 100%/1.5;
	margin: 0 auto;
	padding: 1em 20%;
}

dt, th, label {
  color: $main;
  font-weight: bold;
}



header {
	background-color: $main;
	color: $background;
	margin: 0;
	padding: 0;
	h1 {
		$h1_size: 24;
		font-size: ($h1_size / 16 * 1em);
		line-height: (28 / $h1_size);
		margin-top: (24 / $h1_size * 1em);
	}
}

footer {
	color: $main-lighter;
}

#main {
	
	.keep-together {
		display: inline-block;
		width: 100%;
	}
	
	padding-left: 5%;
	padding-right: 5%;
	/*width: 70%;
	margin: (10/16 * 1em);*/
	@include columns(2); 
	@include column-fill(balanced);
	@include column-gap(50px);
	@include column-rule(1px dotted $main-lighter);
}

section, header, footer {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

section {
	border: 1px dashed $main-lighter;
	background: $section;
	margin-bottom: 20px;
	padding: 10px;
	dl {
		margin-left: 20px;
	}
	
	dd {
		color: $main;
	}
}

#attendance {
	-webkit-column-break-after: always;
	-moz-column-break-after: always;
	table {
		width: 100%;
	}
}

.left {
	float: left;
	width: 500px;
	margin: 0;
	padding: 1em;
}

.right {
	margin-left: 640px;
	border-left: 1px dotted lighten($main, 40%);
}