/*$blue: #050f66;*/
dt, th, label {
  color: #333333;
  font-weight: bold; }

header {
  background-color: #333333;
  color: #f2f2f2;
  margin: 0;
  padding: 0; }

footer {
  color: #666666; }

#main {
  width: 70%;
  margin: 10px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-columns-fill: balanced;
  -moz-columns-fill: balanced;
  columns-fill: balanced;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  -webkit-column-rule: 1px dotted #666666;
  -moz-column-rule: 1px dotted #666666;
  column-rule: 1px dotted #666666; }
  #main .keep-together {
    display: inline-block;
    width: 100%; }

section, header, footer {
  -moz-border-radius: 5px;
  border-radius: 5px; }

section {
  border: 1px dashed #666666;
  background: #bfbfbf;
  margin-bottom: 20px;
  padding: 10px; }
  section dl {
    margin-left: 20px; }
  section dd {
    color: #333333; }

#attendance {
  -webkit-column-break-after: always;
  -moz-column-break-after: always; }

.left {
  float: left;
  width: 500px;
  margin: 0;
  padding: 1em; }

.right {
  margin-left: 640px;
  border-left: 1px dotted #999999; }

body {
  background-color: #f2f2f2; }
